/*** artist page ***/
.main-content:before {
  content: " ";
  width: 100vw;
  height: 100vw;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 42%,
    rgba(0, 0, 0, 0.2418656938531426) 85%
  );
}

.main-content > img {
  z-index: -99;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-attachment: fixed;
}

.jumbotron {
  background-color: transparent;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.nav {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  list-style: none;
  justify-content: space-between;
  padding-left: 10em;
  padding-right: 10em;
}

.mainframe h1 {
  color: white;
  font-size: 36px;
  font-weight: 800;
}

.mainframe h6 {
  color: white;
  font-size: 10px;
  font-weight: 600px;
  letter-spacing: 0.1em;
  margin-top: 8px;
}

.artist-pg-play-btn,
.artist-pg-follow-btn {
  max-width: 150px;
  width: 100%;
  padding: 0.75rem;
  margin: 0.25rem;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  border-radius: 2rem;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
  display: inline-block;
}

.artist-pg-play-btn:hover,
.artist-pg-follow-btn:hover {
  background-color: limegreen;
  max-width: 150px;
  width: 100%;
  padding: 0.75rem;
  margin: 0.25rem;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  border-radius: 2rem;
  text-align: center;
  border: 1px solid limegreen;
  cursor: pointer;
  display: inline-block;
  box-shadow: 4px 4px 16px rgba(114, 113, 113, 0.3);
}

.mainframe h6 .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  background-color: transparent;
  border: 0px;
  font-size: 10px;
  font-weight: 500;
  color: whitesmoke;
  letter-spacing: 0.1em;
  justify-content: space-around;
  margin-bottom: 10px;
}
/* .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
  background-color: transparent;
  border: 0px;
  padding-bottom: 1px;
  border-bottom: 2px solid limegreen;
  font-weight: 500;
  color: whitesmoke; */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:after {
  display: block;
  content: "";
  margin-bottom: 10px;
  border-bottom: solid 2px limegreen;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover:after {
  transform: scaleX(0.5);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  border: 0px;
  padding-bottom: 1px;
  font-weight: 500;
  color: whitesmoke;
  transition: border-bottom 0.5s ease-in-out;
  -moz-transition: border-bottom 0.5s ease-in-out;
  -webkit-transition: border-bottom 0.5s ease-in-out;
}
.nav-tabs {
  border-bottom: none;
}

.card .spotify-card-icon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.spotify-card-icon {
  color: grey;
  opacity: 0.5;
}

.card:hover .spotify-card-icon {
  color: limegreen;
  opacity: 1;
  z-index: 10001;
}

.trending.card {
  max-width: 150px;
  max-height: 150px;
  border: 0;
  box-shadow: 4px 4px 16px rgba(114, 113, 113, 0.3);
}

.card {
  padding: 0px;
  margin: 0.5rem;
}
.trending.card > div {
  position: absolute;
  display: inline-block;
  color: white;
  text-align: center;
  left: 0;
  right: 0;
  bottom: -2rem;
}
.card > .card-img-top img {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  object-fit: cover;
}

.overlay-icons {
  display: none;
}

/* .trending.card:hover .overlay-icons {
  display: inline-block;
  position: absolute;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 25px;
  top: 55px;
  right: 50px;
  bottom: 50px;
  left: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: 2px solid white;
  z-index: 999;
} */

.overlay-icons {
  display: none;
}
.trending.card:hover .overlay-icons {
  display: block;
  justify-content: space-between;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: absolute;
  padding-top: 40%;
  font-size: 25px;
  color: white;
  /* bottom: 0; */
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: 1s ease;
  opacity: 0.9;
  z-index: 10;
}

.fa-play:hover,
.fa-pause:hover,
.fa-play:focus,
.fa-pause:focus {
  color: white;
  transform: scale(1.25);
  transition: 0.25s;
  position: relative;
}
